apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongodb:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort:27017
          volumeMounts:
            - name: db_volume
              mountPath: data
          command: [mongod --quiet --logpath]
          args: ["/dev/null"]
    volumes:
      - name: db_volume
    persistentVolumeClaim:
      claimName: my-pvc